.cursor0::after{
    content: '|';
    -moz-animation: fade 0s ease-in 2s forwards;
    -webkit-animation: fade 0s ease-in 2s forwards;
    -o-animation: fade 0s ease-in 2s forwards;
    animation: fade 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

.cursor1::after{
    content: '|';
    -moz-animation: cssAnimation 4s forwards;
    -webkit-animation: cssAnimation 4s forwards;
    -o-animation: cssAnimation 4s forwards;
    animation: cssAnimation 4s forwards;

}

.cursor2::after{
    content: '|';
    -webkit-animation: fade 12s forwards;
    -moz-animation: fade 12s forwards;
    animation: fade 12s forwards;

}

@keyframes fade {
    0%{opacity: 0;}
    34%{opacity: 0;}
    35%{opacity: 1;}
    99%{opacity: 1;}
    100%{opacity: 0;visibility: hidden;}
}
@keyframes cssAnimation {
    0%{opacity: 0;}
    50%{opacity: 0;}
    51%{opacity: 1;}
    99%{opacity: 1;}
    100%{opacity: 0;visibility: hidden;}
}
@-webkit-keyframes cssAnimation {
    0%{opacity: 0; visibility: hidden;}
    70%{opacity: 0; visibility: hidden;}
    71%{opacity: 1; visibility: visible;}
    99%{opacity: 1; visibility: visible;}
    100%{opacity: 0;visibility: hidden;}
}